/** Essentials */

* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --light: #F9F1E7;
    --dark: #1D1D1D;

    --spacing: 20px;
    --margin: 20px;
    --image-spacing: 30px;

    /* Golden ratio */
    --button-height-multiplier: 1.618;

    --x-small: 13px;
    --small: 16px;
    --medium-text: 24px;
    --big: 36px;
    --x-big: 48px;

    --normal: 400;
    --medium: 500;
    --semi-bold: 600;

    /** Progressive blur */
    --1st-blur-amount: 0.1px;
    --blur-amount-multiplier: 2;

    --2nd-blur-amount: calc(var(--1st-blur-amount) * var(--blur-amount-multiplier));
    --3rd-blur-amount: calc(var(--2nd-blur-amount) * var(--blur-amount-multiplier));
    --4th-blur-amount: calc(var(--3rd-blur-amount) * var(--blur-amount-multiplier));
    --5th-blur-amount: calc(var(--4th-blur-amount) * var(--blur-amount-multiplier));
    --6th-blur-amount: calc(var(--5th-blur-amount) * var(--blur-amount-multiplier));
    --7th-blur-amount: calc(var(--6th-blur-amount) * var(--blur-amount-multiplier));
    --8th-blur-amount: calc(var(--7th-blur-amount) * var(--blur-amount-multiplier));
}

::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    color: var(--light);
    /* --light color but with 20% alpha */
    background-color: rgba(249, 241, 231, 0.2);
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--dark);
    letter-spacing: -0.04em;
    color: var(--light);
    font-family: 'Instrument sans', sans-serif;
    font-weight: var(--medium);
    margin: var(--margin);
    overflow-x: hidden;
    width: 100dvw;
    touch-action: pan-y;
    opacity: 1;
    transition: opacity 0.25s ease, filter 0.25s ease;
    /* overflow: hidden; */
}

body.fade-out {
    opacity: 0;
}

/** Grain effect from Codepen */

.grain {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    z-index: 999;
    pointer-events: none;
}

.grain::before {
    content: '';
    position: absolute;
    inset: 0;
    /** noise from Wikimedia */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png');
    opacity: 7%;
    animation: noise 1s steps(2) infinite;
    z-index: 998;
}

@keyframes noise {

    0%,
    100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

/** Components */

button {
    font-size: var(--x-small);
    font-weight: var(--medium);
    background-color: var(--light);
    height: calc(var(--x-small) * var(--button-height-multiplier));
    padding: 0 calc((var(--x-small) * var(--button-height-multiplier)) / 2) 0 calc((var(--x-small) * var(--button-height-multiplier)) / 2);
    border-radius: calc((var(--x-small) * var(--button-height-multiplier)) / 2);
    border: none;
    width: fit-content;
    font-family: "Instrument sans";
    overflow: hidden;
    position: relative;
    transition: 0.25s ease, 0s transform;
    cursor: pointer;

    /*TODO Change all <buttons> to <a> */
    /** For <a> buttons */
    color: var(--dark);
    text-decoration: none;
    font-weight: var(--medium);
}

/* button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 5px var(--light);
    z-index: 10;
    pointer-events: none;
} */

button #content {
    padding: 2px 0 0 0;
    margin: 0;
    transition: 0.25s ease;
}

.link {
    /* Just a normal btn but without bg */
    background-color: transparent;
    color: var(--light);
}

/* .link::after {
    box-shadow: none
} */

button:hover {
    /* TODO Unblock */
    scale: 0.9;
    filter: brightness(80%);
    /* cursor: not-allowed; */
}

button:active {
    /* TODO Unblock */
    filter: brightness(60%);
    scale: 0.85;
    transition: 0.1s ease;
    /* scale: 1; */
}

button:hover #content {
    transform: translateY(-100%);
    white-space: nowrap;
}

section {
    height: calc(100dvh - (var(--margin) * 2));
    width: calc(100dvw - (var(--margin) * 2));
}

section:not(#hero) {
    margin-top: calc(var(--margin) * 2);
}

.x-small-text {
    font-size: var(--x-small);
}

.small-text {
    font-size: var(--small);
}

.medium-text {
    font-size: var(--medium-text);
}

.big-text {
    font-size: var(--big);
}

.x-big-text {
    font-size: var(--x-big);
    /* line-height: var(--x-big); */
}

.x-small-text,
.small-text,
.medium-text,
.big-text,
.x-big-text {
    pointer-events: none;
}

/* .text-wrapper {} */

.text-wrapper#center {
    align-items: center;
    justify-content: flex-start;
}

.text-wrapper#left {
    align-items: flex-start;
    justify-content: flex-start;
}

nav {
    position: fixed;
    top: var(--margin);
    left: var(--margin);
    right: var(--margin);
    width: calc(100dvw - (var(--margin) * 2));
    z-index: 16;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing);
}

nav .logo {
    width: 95.15px;
}

nav .logo:hover {
    width: 175px;
    scale: 1;
}

nav .logo:hover::after {
    box-shadow: inset 0 0 0 0px var(--light);
}

/* .vignette {
    background: #1D1D1D;
    background: linear-gradient(0deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100dvw;
    height: calc((var(--x-small) * 1.618) + (var(--margin) * 2));
    z-index: 9;
    backdrop-filter: blur(40px);
} */

/** The progressive blur (codepen) */

/* That gradient appearing in About and Reviews sections */

#bottom-gradient-blur {
    transform: rotate(0deg);
    inset: auto 0 0 0;
}

.gradient-blur {
    position: fixed;
    z-index: 14;
    inset: 0 0 auto 0;
    height: calc(((var(--x-small) * 1.618) + (var(--margin) * 3)));
    pointer-events: none;
    transform: rotate(180deg);
    background: linear-gradient(180deg, rgba(29, 29, 29, 0) 0%, rgba(29, 29, 29, 1) 90%);
}

.gradient-blur>div,
.gradient-blur::before,
.gradient-blur::after {
    position: absolute;
    inset: 0;
}

.gradient-blur::before {
    content: "";
    z-index: 1;
    backdrop-filter: blur(var(--1st-blur-amount));
    mask: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 12.5%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 0) 37.5%);
}

.gradient-blur>div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(var(--2nd-blur-amount));
    mask: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 12.5%,
            rgba(0, 0, 0, 1) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 0) 50%);
}

.gradient-blur>div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(var(--3rd-blur-amount));
    mask: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 1) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 62.5%);
}

.gradient-blur>div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(var(--4th-blur-amount));
    mask: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 37.5%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 0) 75%);
}

.gradient-blur>div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(var(--5th-blur-amount));
    mask: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 1) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 0) 87.5%);
}

.gradient-blur>div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(var(--6th-blur-amount));
    mask: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 62.5%,
            rgba(0, 0, 0, 1) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 0) 100%);
}

.gradient-blur>div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(var(--7th-blur-amount));
    mask: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 1) 100%);
}

.gradient-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(var(--8th-blur-amount));
    mask: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 87.5%,
            rgba(0, 0, 0, 1) 100%);
}

.columns {
    height: 100dvh;
    width: calc(100dvw - (var(--margin) * 2));
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    top: 0;
    bottom: 0;
    z-index: 999;
    left: var(--margin);
    right: var(--margin);
    pointer-events: none;
    opacity: 0.0125;
}

.column {
    height: 100dvh;
    background-color: var(--light);
    width: calc((100dvw - 260px) / 12);
}

.line {
    overflow: hidden;
}

/** Content wrapper */

.content-wrapper {
    display: block;
    pointer-events: all;
}